body {
  background: #2C2C2C;
}

#text_display {
  width: 250px;
  height: 150px;
  resize: both;
  overflow: auto;
}

#decision_display {
  width: 250px;
  height: 50px;
  resize: both;
  overflow: auto;
}


